layout {
  cwd "$UNI_DIR"

  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="sb"
    }
  }

  tab name="biol-111" cwd="biol-111" {
    pane stacked=true {
      pane name="note" command="$EDITOR" start_suspended=true { args "main.typ"; }
      // pane name="homework" cwd="$Y_SRC_DIR/biol-111"
    }
  }

  tab name="apsc-262" cwd="apsc-262" {
    pane stacked=true {
      pane name="note" command="$EDITOR" start_suspended=true { args "main.typ"; }
      pane name="homework"
    }
  }
}
